.header {
  padding: 15px;
  background: #100c04;
  color: #f8f6f3;
  font-size: 38px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* .header__title {
}

.header__counter {
}
 */
